.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gloock-regular {
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
}

.dropdown-content {
  display: none;
  padding-left: 20px;
}

.dropdown-content a {
  display: block;
  padding: 10px 0;
  color: white;
}

.dropdown-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}
